.tabContent {
    margin-top: 1rem;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 1.6rem;
    background-color: white;
  box-shadow: var(--shadow);
}

.tabContentHeader {
    margin-bottom: 1rem;
}