.tabContent {
    margin-top: 2rem;
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.tabContentHeader {
    margin-bottom: 1rem;
}