:root {
	--amber: #ffbe0bff;
	--orange-pantone: #fb5607ff;
	--rose: #ff006eff;
	--van-dyke: #523a34ff;
	--azure: #3a86ffff;

	--gradient-top: linear-gradient(
		0deg,
		#ffbe0bff,
		#fb5607ff,
		#ff006eff,
		#523a34ff,
		#3a86ffff
	);
	--gradient-right: linear-gradient(
		90deg,
		#ffbe0bff,
		#fb5607ff,
		#ff006eff,
		#523a34ff,
		#3a86ffff
	);

	--shadow:  rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

span {
	color: inherit;
}