.container {
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    margin-top: 2rem;
}

.containerMessage {
    display: flex;
}

.cardsWrapper {
    display: flex;
    gap: 1rem;
}