.container {
    padding: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    margin-top: 2rem;
}

.containerMessage {
    display: flex;
}

.cardsWrapper {
    display: grid;
    gap: 1rem;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
}