.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #fff;

    margin-bottom: 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.iconWrapper {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #fce7f3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    color: #db2777;
    font-size: 1.25rem;
}

.details {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.title {
    font-weight: 600;
    font-size: 1rem;
    color: #111;
}

.meta {
    font-size: 0.875rem;
    color: #555;
}

.information {
    display: flex;
    gap: 1rem;
    font-size: 0.875rem;
    color: #555;
}

.containerButton {
    display: flex;
    gap: 0.5rem;
}

.button {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.3rem 0.6rem;
    border: 1px solid #ddd;
    border-radius: 0.375rem;
    background: #fff;
    font-size: 0.875rem;
    cursor: pointer;
}

.item:not(:last-child) {
    margin-bottom: 1rem;
}